# Environments
.venv/
node_modules/
.env*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Models (Large Binaries)
*.gguf
*.onnx
voices.json

# Assets & Output
output/
frames_*/
voices/*.mp3
voices/*.wav
!voices/*.txt
thumbnails/*.jpg
test_audio.wav
*.png
*.mp4
*.temp.mp4

# OS & Editors
.DS_Store
.idea/
.vscode/

# Temporary
/tmp/
